@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

main section {
    margin-top: 15vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

li {
    margin: 0 2vw;
}

.up a {
    color: #B8BECD;
    font-size: 1vw;
    text-decoration: none;
}

nav {
    flex: 1;
    display: flex;
}

.logo {
    padding: 2vw;
    width: 2.5vw;
    height: 2.5vw;
}

.up     {
    display: flex;
    flex-wrap: nowrap;
    flex: 1;
}

header {
    height: 786px;
    display: flex;
    flex-direction: column;
    padding: 0.5vw 10vw;
}

.down {
    flex: 9;
    display: flex;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    flex: 3;
}

.header_img {
    flex: 4;
    width: 25vw;

}
h1 {
    font-family: "Playfair Display";
    font-size: 4vw;
    width: 25vw;
    padding-bottom: 20%;
}

h3 {
    font-size: 1.1vw;
}

h2 {
    font-size: 2.5vw;
    font-family: "Playfair Display";
}

.header-form {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
}

.header-form * {
    font-size: 1vw;
    margin: 0.8vw;
    padding: 0.8vw 1.5vw;
    width: 12vw;
    margin-left: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header-form legend {
    padding: 0;
    font-size: 1.5vw;
    text-align: start;
    font-weight: 600;

}

.header-square {
    background-color: black;
    width: 4vw;
    height: 0.3vw;
    padding: 0;
    margin-right: 15vw;
}

select {
    border: solid lightgrey 0.25vw;
    border-radius: 5px;
}

select:hover {
    background-color: #B8BECD;
}

button,
input[type="submit"]{
    border-radius: 5px;
    padding: 0.7vw 2vw;
    color: white;
    background-color: orange;
    border: solid orange 0.25vw;
    font-weight: bold;
    font-size: 1vw;
}
button[name="login"] {
    background-color: white;
    color: orange;
}

main {
    padding: 0 10vw;
}

.main-1,
.main-2-header,
.main-2-list,
.main-3,
.main-4-header,
.main-4-list,
footer {
    display: flex;
}

.main-1 img,
.main-3 img {
    flex: 5;
    width: 10vw;
}

.main-1-paragraph,
.main-3-paragraph {
    flex: 4;
    padding: 2vw;
}
.main-1-paragraph h2,
.main-3-paragraph h2 {
    margin: 2vw;
    padding-top: 4vw;
}
.main-1-paragraph p,
.main-3-paragraph p {
    font-family: "Mulish";
    font-size: 1.5vw;
    color: #7D7987;
    margin: 2vw;
}

.main-1-button {
    margin: 2vw;
    font-size: 1vw;
}

.up a:hover {
    color: #7D7987;
}

.up button[name="login"]:hover{
    color: white;
    background-color: orange;
}

button:hover,
input[type="submit"]:hover,
.main-2-header a,
.main-4-header a,
.main-4-list a   {
    color: orange;
    background-color: white;
}

.main-2-header,
.main-4-header {
    align-items: center;
    justify-content: space-between;
}

.main-2-header a,
.main-4-header a,
.main-4-list a {
    font-size: 1.5vw;
    text-decoration: none;
}

.main-2-header a:hover,
.main-4-header a:hover,
.main-4-list a:hover {
    color: #B8BECD;
}

.main-2-list,
.main-4-list {
    justify-content: space-between;
    padding-top: 2vw;
}

.main-2-list div:hover,
.main-4-list div:hover {
    transform: scale(1.1);
}

.main-2-list h3,
.main-2-list p,
.main-4-list h3,
.main-4-list p  {
    background-color: #fff;
    width: 10vw;
    padding-right: 1vw;
}

.main-2-list h3 {
    border-top-right-radius: 10px;
    padding-top: 1vw;
}

.main-2-list p,
.main-4-list p {
    color: #7D7987;
    font-size: 1.2vw;
}

.main-2-list div {
    border-radius: 10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 15vw;
    height: 20vw;
    background-size: cover;
}

.main-2-list-paragraph-1 {
    background-image: url("images/main-2-image-1.png");
}

.main-2-list-paragraph-2 {
    background-image: url("images/main-2-image-2.png");
}
.main-2-list-paragraph-3 {
    background-image: url("images/main-2-image-3.png");
}
.main-2-list-paragraph-4 {
    background-image: url("images/main-2-image-4.png");
}

.main-3-paragraph {
    padding-left: 0;
}
.main-3-paragraph p,
.main-3-paragraph h2,
.main-3-paragraph button{
    margin-left: 0;
}

.main-4 {
    margin-bottom: 15vw;
}

.main-4-list div {
    width: 17vw;
}

.main-4-list img {
    width: 100%;
    height: 17vw;
    margin-bottom: 1.5vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.main-4-list div {
    display: flex;
    flex-direction: column;

}

.main-4-list h3 {
    width: 100%;
    padding: 0;
    font-size: 1.2vw;
}

.main-4-list p {
    padding: 1vw 0;
    margin: 0;
    width: 100%;
    font-size: 1vw;
}

.main-4-list a {
    font-size: 1vw;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #F9F9FB;
    padding: 4vw 10vw;
}

.footer-up {
    display: flex;
}

.footer-up * {
  font-size: 1vw;
}

.footer-up .left {
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer-up .right {
    flex: 8;
    display: flex;
}

.footer-up .right ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    text-align: end;
    padding-left: 5vw;
}


.footer-up .right a {
    text-decoration: none;
    color: #848484;
    font-family: "Mulish";
}

.footer-left {
    padding-right: 5vw;
}

.footer-left p {
    padding-top: 2vw;
    color: #848484;
    font-family: Mulish;
}

.footer-separator {
    width: 100%;
    height: 0.1vw;
    background-color: #C4C4C4;
    margin: 5vw 0;
}

.footer-up .logo {
    padding: 0;
}

.footer-up .left .copyright {
    padding-top: 5vw;
}

.footer-down {
    display: flex;
    justify-content: center;
}

.footer-down img {
    padding: 0 1.2vw;
}



@media only screen and (min-width : 320px) and (max-width : 480px) {
 .down {
    flex-direction: column;
    margin: 0;
    padding 0;
    background-color: yellow;
  }
  
 .left {
   box-sizing: border-box;
   width:100%;
   position:absolute ;
   z-index: 2;
   top: 50%;
   right: 50%;
   transform:translate(50%);
   background-color:blue;
   align-items: center;
 }
 
 .left * {
   width:80%;
 }
 
  header {
    padding: 0;
  }
  
 .header_img {
   position:relative;
   width: 80vw;
  }
  
  nav {
    background-color: greenyellow;
    flex:1;
  }
  
  
  nav ul {
    flex-direction: column;
    position: absolute ;
    right: 0;
    top: -100%;
    background-color:red;
    width:100%;
    padding-bottom: 2vw;
  }
} 